<div id="news-block" class="news-main">
    <router-view></router-view>
</div>

<template id="news-list-template">
	<div v-if="!loading">
		<div v-if="newsData">			
			<div v-if="OneCol">
				<div class="news-container">
					<div class="news-left-column" v-if="mainArticle">
						<article class="contextual-region node o-media vm-teaser teaser-custom" style="display: block">
							<div>
								<img :src="findlandscape(mainArticle.relationships.field_sf_primary_image.data.id)"
									 style="width: 100%;"
									 :alt="mainArticle.relationships.field_sf_primary_image.data.meta.alt"
									 @click="goNewsLink(mainArticle.id)">
							</div>
							<div class="o-media__body" style="background-color: #022851; padding: 1rem;">
								<h3 class="vm-teaser__title news-title" @click="goNewsLink(mainArticle.id)" style="color: #fff; font-size: 1.2rem;">{{ mainArticle.attributes.title }}</h3>
								<footer class="vm-teaser__byline" style="color: #ccc;">
									<span>{{ moment(mainArticle.attributes.created).format('MMMM DD, YYYY') }}</span>
								</footer>
							</div>
						</article>
					</div>
					
					<div class="news-right-column">
						<article v-for="(news, index) in remainingArticles" :key="index" class="contextual-region node o-media vm-teaser teaser-custom">
							<div class="o-media__body">
								<h3 class="vm-teaser__title news-title" @click="goNewsLink(news.id)" style="font-size: 1.2rem;">{{ news.attributes.title }}</h3>
								<footer class="vm-teaser__byline">
									<span>{{ moment(news.attributes.created).format('MMMM DD, YYYY') }}</span>
								</footer>
							</div>
						</article>
					</div>
				</div>									
			</div>
			<div v-else>
				<div v-for="news in newsData">
					<article class="contextual-region node o-media vm-teaser teaser-custom">
						<div v-if="news.relationships.field_sf_primary_image.data" class="o-media__figure vm-teaser__figure">
							<div v-if="diffPage">
								<img :src="findthumbnail(news.relationships.field_sf_primary_image.data.id)" class="thumbnail" :alt="news.relationships.field_sf_primary_image.data.meta.alt" @click="goNewsLink(news.id)">
							</div>
							<div v-else>
								<router-link :to="{name: 'news', params: { newsID: news.id }}"><img :src="findthumbnail(news.relationships.field_sf_primary_image.data.id)" class="thumbnail" :alt="news.relationships.field_sf_primary_image.data.meta.alt"></router-link>
							</div>
						</div>
						<div v-else class="o-media__figure vm-teaser__figure">
							<img src="https://news.bftv.ucdavis.edu/sites/g/files/dgvnsk1131/files/inline-images/np_thumb.gif" alt="no image placeholder">
						</div>
						<div class="o-media__body">
							<h3 v-if="diffPage" class="vm-teaser__title news-title" @click="goNewsLink(news.id)">{{ news.attributes.title }}</h3>
							<h3 v-else class="vm-teaser__title news-title"><router-link :to="{name: 'news', params: { newsID: news.id }}">{{ news.attributes.title }}</router-link></h3>
							<footer class="vm-teaser__byline">
								<span>{{ moment(news.attributes.created).format('MMMM DD, YYYY') }}</span>
							</footer>
							<div v-if="!listShow">
								<div v-if="news.attributes.body" class="vm-teaser__summary">
									<div v-if="news.attributes.body.value" v-html="imgstriptruncate(news.attributes.body.value, 300)"></div>
									<div v-else-if="news.attributes.body.summary" v-html="imgstriptruncate(news.attributes.body.summary, 600)"></div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
			<div v-if="diffPage" class="more-link"><a :href="mainNewsPage">More news...</a></div>
		</div>
	</div>
	<div v-else style="text-align: center"><i  v-show="loading" class="fa fa-spinner fa-spin fa-4x" style="color: #999"></i></div>
</template>

<template id="single-news-template">
	<div v-if="!loading">
		<div class="back-button"><button class="button" @click="goBack()"><-- Go Back to the News List</button></div>
		<div v-if="newsItem">
			<div class="node__content">				
				<div v-if="imgsrc" class="image-container-bg" :style="'background-image: url('+imgsrc+')'"></div>
				<h2>{{ newsItem.attributes.title }}</h2>
				<footer class="node__meta">
					<div class="node__submitted meta-info">
						<div class="byline u-space-bottom">
							<p class="posted-note">Posted on: {{ moment(newsItem.attributes.created).format('MMMM DD, YYYY') }}</p>
						</div>
					</div>
				</footer>
				<div class="clearfix text-formatted" v-html="fiximg(newsItem.attributes.body.processed)"></div>
				<div v-if="newsItem.attributes.field_url_to_link_article">
					<h3 class="heading--auxiliary-customized">Original Article</h3>
					<a :href="newsItem.attributes.field_url_to_link_article.uri" target="_blank">{{ newsItem.attributes.field_url_to_link_article.uri }}</a>
				</div>
				<div v-if="newsItem.relationships.field_bftv_news_document.data.length">
					{{ loadNewsDoc(newsItem.relationships.field_bftv_news_document.data[0].id) }}
					<h3 class="heading--auxiliary-customized">Documents</h3>
					<a :href="newsdocurl" target="_blank">{{ newsdocname }}</a>
				</div>
			</div>
		</div>
	</div>
	<div v-else style="text-align: center"><i  v-show="loading" class="fa fa-spinner fa-spin fa-4x" style="color: #999"></i></div>
</template>

<style scoped>
.back-button {
	text-align: right;
	padding-bottom: 1rem;
}
.image-container {
	max-height: 500px;
	overflow: hidden;
}
.image-container-bg {
	height: 500px;
	background-size: cover;
	background-position: 50% 50%;
}
.posted-note {
	font-size: 16px;
	color: #666;
}
.news-title {
	color: #022851;
	font-size: 1rem;
	line-height: 1.2;
	font-weight: 800;
}
.news-title:hover {	
	cursor: pointer;
	text-decoration: underline;
}
.thumbnail:hover {
	cursor: pointer;
}
.heading--auxiliary-customized {
	font-size: 1.4375rem;
	line-height: 1.13043;
	margin: .75em 0 .25em;
	margin-bottom: .5em;
	color: #667e99;
	font-style: italic;
	font-weight: 700;
}
.inline-img {
	float: right;
	clear: both;
	margin-left: 1rem;
	margin-bottom: 1rem;
}
.more-link {
	text-align: right;
}
.teaser-custom {
	padding-bottom: .5rem;
}
.news-container {
	display: flex;
}

.news-left-column {
	width: 60%; /* Larger column */
	padding-right: 1em;
}

.news-right-column {
	width: 40%; /* Smaller column */
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding-left: 1rem;
}
</style>
