<div id="news-block" class="news-main">    
    <router-view></router-view>
</div>

<template id="news-list-template">
	<div v-if="!loading">
		<div v-if="newsData">
			<div v-for="news in newsData">
				<article class="contextual-region node o-media vm-teaser">
					<div v-if="news.relationships.field_sf_primary_image.data" class="o-media__figure vm-teaser__figure">
						<router-link :to="{name: 'news', params: { newsID: news.attributes.uuid }}"><img :src="findthumbnail(news.relationships.field_sf_primary_image.data.id)" class="thumbnail" :alt="news.relationships.field_sf_primary_image.data.meta.alt"></router-link>
					</div>
					<div v-else class="o-media__figure vm-teaser__figure">
						<router-link :to="{name: 'news', params: { newsID: news.attributes.uuid }}"><img src="https://news.bftv.ucdavis.edu/sites/g/files/dgvnsk1131/files/inline-images/np_thumb.gif" class="thumbnail" alt="no image placeholder"></router-link>
					</div>
					<div class="o-media__body">
						<h3 class="vm-teaser__title news-title"><router-link :to="{name: 'news', params: { newsID: news.attributes.uuid }}">{{ news.attributes.title }}</router-link></h3>
						 <footer class="vm-teaser__byline">
							<span>{{ moment.unix(news.attributes.created).format('MMMM DD, YYYY') }}</span>
						</footer>
						<div v-if="!listShow">
							<div v-if="news.attributes.body" class="vm-teaser__summary">
								<div v-if="news.attributes.body.value" v-html="$options.filters.imgstriptruncate(news.attributes.body.value, 300)"></div>
								<div v-else-if="news.attributes.body.summary" v-html="$options.filters.imgstriptruncate(news.attributes.body.summary, 600)"></div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>	
	</div>
	<div v-else style="text-align: center"><i  v-show="loading" class="fa fa-spinner fa-spin fa-4x" style="color: #999"></i></div>
</template>

<template id="single-news-template">
	<div v-if="!loading">	
		<div class="back-button"><button class="button" @click="goBack()"><-- Go Back to the News List</button></div>
		<div v-if="newsItem">
			<div class="node__content">
				<div v-if="imgsrc" class="image-container">
					<img :src="imgsrc" width="1280" height="720" :alt="newsItem.relationships.field_sf_primary_image.data.meta.alt" class="image-style-sf-landscape-16x9">
				</div>
				<h2>{{ newsItem.attributes.title }}</h2>
				<footer class="node__meta">
					<div class="node__submitted meta-info">
						<div class="byline u-space-bottom">
							<p class="posted-note">Posted on: {{ moment.unix(newsItem.attributes.created).format('MMMM DD, YYYY') }}</p>
						</div>
					</div>
				</footer>
				<div class="clearfix text-formatted" v-html="$options.filters.fiximg(newsItem.attributes.body.value)"></div>
				<div v-if="newsItem.attributes.field_url_to_link_article">
					<h3 class="heading--auxiliary-customized">Original Article</h3>
					<a :href="newsItem.attributes.field_url_to_link_article.uri" target="_blank">{{ newsItem.attributes.field_url_to_link_article.uri }}</a>
				</div>
				<div v-if="newsItem.relationships.field_bftv_news_document.data.length">	
					{{ loadNewsDoc(newsItem.relationships.field_bftv_news_document.data[0].id) }}
					<h3 class="heading--auxiliary-customized">Documents</h3>
					<a :href="newsdocurl" target="_blank">{{ newsdocname }}</a>						
				</div>					
			</div>
		</div>
	</div>
	<div v-else style="text-align: center"><i  v-show="loading" class="fa fa-spinner fa-spin fa-4x" style="color: #999"></i></div>
</template>
