{#
/**
 * @file
 * Theme override for the sf-office-location field on a sf-person full node.
 *
 * Available variables:
 * - Look in the field.html.twig file for available variables.
 *
 * @see template_preprocess_field()
 */
#}
{% for item in items %}
    <span class="icon icon--location">{{ item.content }}</span>
{% endfor %}