{#
/**
 * @file
 * Theme override for the sf-emails field on a sf-person full node.
 *
 * Available variables:
 * - Look in the field.html.twig file for available variables.
 *
 * @see template_preprocess_field()
 */
#}
{% for item in items %}
  <li class="icon icon--link icon--envelope">{{ item.content }}</li>
{% endfor %}