table {
	display: block;
	overflow-x: auto;
}
input, select {
	height: auto;
}
.back-button {
	text-align: right;
	padding-bottom: 1rem;
}
.pagination-btn {
	cursor: pointer;
}
.pagination-wrapper {
	text-align: center;
}
.row {
	display: flex;
	background-color: #eee;
}
.column {
	flex: 33%;
	padding: 10px;
}
